@import url('./main.css');


/* DESIGN FOR 375PX - MOBILE */

.datos {
  width: 85%;
  max-width: 1225px;
  margin: 6.5rem auto;
}

.datos__container {
  width: 75%;
  margin: auto;
}
.archivo {
  width: fit-content;
  margin: auto;
  display: flex;
  flex-direction: column;  
}

.archivo img {
  width: 1.5rem;
}

.archivo>h2 {
  font-family: var(--font-family-body);
  font-weight: var(--font-weight3-body);
  font-size: 4rem;
  color: var(--color-neutral-very-dark-cyan);
}

.archivo:first-child {
  margin-bottom: 4rem;
}

.archivo:nth-child(2) h2 {
  font-size: 3.5rem;
}

.archivo>p {
  font-size: 1.1rem;
  text-align: center;
  color: gray;
  
}


/* DESIGN FOR 992PX - DESKTOP */
  
@media only screen and (min-width: 992px) {
  
  .datos__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .archivo {
    margin: 0;
  }

  .archivo:first-child {
    margin: 0;
  }

  .archivo:nth-child(2) h2 {
    font-size: 4rem;
  }
   
}