@import url('./main.css');


/* DESIGN FOR 375PX - MOBILE */

.datos {
  width: 85%;
  max-width: 1225px;
  margin: 6.5rem auto;
  text-align: center;
}
  
.datos .caja {
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: fit-content;
  margin: auto;
}
  
.archivo {
  display: flex;
  flex-direction: column;
}

.archivo img {
  width: 2.5rem;
}

.numero {
  font-size: 5rem;
  font-weight: bold;
  color: var(--Very_Dark_Cyan);
}

.archivo p {
  text-align: center;
  font-size: 1.3rem;
  color: gray;
}


/* DESIGN FOR 992PX - DESKTOP */
  
@media only screen and (min-width: 992px) {
  
  .datos .caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
   
}