:root {
    --color-primary-pink: hsl(322, 100%, 66%);
    --color-primary-light-pink: hsl(321, 100%, 78%);
    --color-primary-light-red: hsl(0, 100%, 63%);
    --color-neutral-very-dark-cyan: hsl(192, 100%, 9%);
    --color-neutral-very-pale-blue: hsl(207, 100%, 98%);
    --color-top-bottom-section: #F6FBFF;
    --font-family-headings: 'Poppins';
    --font-weight-headings: 700;
    --font-family-body: 'Open Sans';
    --font-weight1-body: 400;
    --font-weight2-body: 600;
    --font-weight3-body: 700;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}